@import url(../themes/nord.css);

body {margin: 0; background: var(--nord01); font: 1em Segoe UI, sans-serif; color: var(--nord04);}
main {display: flex; justify-content: center; align-items: center;}
a {text-decoration: none; color: inherit;}
#cap {position: fixed; bottom: 1em; right: 1em; z-index: 1;}