:root {
	/* Nord color palette */
	--nord00: #2e3440; --nord01: #3b4252; --nord02: #434c5e; --nord03: #4c566a;
	--nord04: #d8dee9; --nord05: #e5e9f0; --nord06: #eceff4; --nord07: #8fbcbb;
	--nord08: #88c0d0; --nord09: #81a1c1; --nord10: #5e81ac; --nord11: #bf616a;
	--nord12: #d08770; --nord13: #ebcb8b; --nord14: #a3be8c; --nord15: #b48ead;
	/* Foruni color palette */
	--frnBlk: #181818; --frnGol: #ffcc00; --frnOrg: #ff6600;
	--frnRed: #cc1818; --frnGrn: #009966; --frnBlu: #0066cc;
}

body {
	margin: 1em; background: var(--nord00);
	font: xx-large 'Trebuchet MS', system-ui, sans-serif;
	color: var(--nord04); text-align: left;
}

h1, h2, h3, ul, p {margin: 1rem 0;}
a {color: inherit}
main {min-height: 100vh}
footer {font-size: medium}
