{{ define "header" }}
<header>
	<nav aria-label="Button Bar">
		<button class="circle transparent" id="back" aria-label="Go back">
			<i>arrow_back</i>
		</button>

		<div class="max"></div>

		<button class="circle transparent" aria-label="Share this page"
			onclick="sharePage(document.title, window.location.href)">
			<i>share</i>
		</button>
	</nav>

	<div class="small-padding">
		<h1 class="small">{{ .Title }}</h1>
		<p>Started on {{ .Date.Format "02 January 2006" }}</p>
		<p>{{ .Description }}</p>
	</div>
</header>
{{ end }}

{{ define "main" }}
<div>
	<section class="padding round">
		<img class="responsive" src="{{ .Params.thumbnail }}" alt="">
	</section>

	<h3 class="small">Keywords</h3>
	<nav aria-label="Chip Bar" class="wrapper">
		{{ range .Params.keywords }}<span class="chip">{{ . }}</span>{{ end }}
	</nav>

	<h3 class="small">Skills</h3>
	<nav aria-label="Chip Bar" class="wrapper">
		{{ range .Params.skills }}<span class="chip">{{ . }}</span>{{ end }}
	</nav>

	{{ .Content }}
</div>
{{ end }}
