<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ $globalStyle := resources.Get "styles/global.css"}}
{{ $navbarStyle := resources.Get "styles/navbar.css"}}
{{ $style := slice $globalStyle $navbarStyle | resources.Concat "style.css" | minify }}

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ .Page.Description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline'">

	<title>{{ .Page.Title }} | {{ .Site.Title}}</title>

	<link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	{{- block "head" . }}{{- end }}
</head>

<body>
	<script>0</script>
	{{- partial "navbar.html" . -}}
	<main>
		{{- block "main" . }}{{- end }}
		{{- partial "footer.html" . -}}
	</main>
</body>

</html>
