<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

{{ $favicon := relURL "favicon.svg" }}

<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{ page.Description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="p:domain_verify" content="c739f7a66ab837c82c4dabdf0a2fb1d1" />
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

	<title>{{ page.Title }} &bull; {{ site.Title }}</title>

	{{ range .AlternativeOutputFormats }}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
	{{ end }}
	<link rel="shortcut icon" href="{{ $favicon }}" type="image/svg+xml">
	<link href="https://cdn.jsdelivr.net/npm/beercss@3.12.6/dist/cdn/beer.min.css" rel="stylesheet" />
	<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.12.6/dist/cdn/beer.min.js"></script>
	<script type="module"
		src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>

	<style>
		iframe {
			border: none;
		}
	</style>

	{{ block "head" . }}{{ end }}
</head>

<body>
	<script>0</script>
	{{ partial "navbar.html" . }}
	{{ block "header" . }}{{ end }}
	<main>
		{{ block "main" . }}{{ end }}
	</main>
	{{ partial "footer.html" . }}
	<script async>
		// Configure every button with id="back" to navigate back to the previous page
		for (const button of document.querySelectorAll('#back')) {
			button.addEventListener('click', () => {
				window.history.back();
			});
		}

		async function setTheme(subject) {
			let theme = await ui("theme", subject);
			return theme;
		}

		function sharePage(title, url) {
			if (navigator.share) {
				navigator.share({
					text: 'From Turito Yuenan\'s website:',
					title: title,
					url: url
				}).then(() => {
					console.log('Thanks for sharing!');
				})
					.catch(console.error);
			} else {
				alert('Share not supported on this browser, copy the link instead.');
			}
		}

		setTimeout(() => setTheme("#FFCC00"), 50);
	</script>
</body>

</html>
