{{ define "head" }}
{{ $style := resources.Get "styles/page-home.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
{{ $favicon := relURL "favicon.svg" }}
<header class="middle-align center-align">
	<div>
		<img src="{{ $favicon }}" alt="" width="256" height="256">
		<h1 class="">{{ site.Title }}</h1>
		<p class="large">{{ page.Description }}</p>
	</div>
</header>

{{ .Content }}

<h3><a href="./projects">Projects</a></h3>
<p>Showcase of my projects</p>
<section class="row scroll">
	{{ partial "homefeed.html" (where site.RegularPages "Section" "projects") }}
</section>

<h3><a href="./contents">Contents</a></h3>
<p>Articles, Blog posts, Announcements</p>
<section class="row scroll">
	{{ partial "homefeed.html" (where site.RegularPages "Section" "contents") }}
</section>

<h3>Connect</h3>
<p>Find me on social platforms</p>
<nav class="wrap">
	{{ range .Site.Menus.social }}
	<span class="chip">
		<a href="{{ .URL }}" target="_blank" rel="noreferrer noopener">{{ .Name }}</a>
	</span>
	{{ end }}
</nav>

{{ end }}
