{{ define "head" }}
{{ $style := resources.Get "styles/page-single.css" | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<header class="padding">
	<h1 class="small">{{ .Title }}</h1>
	<p class="small">Published {{ .Date.Format "02 January 2006" }}</p>
	<p>{{ .Description }}</p>
</header>

<section>
	<section class="padding">
		<img class="responsive medium round" src="{{ .Params.thumbnail }}" alt="">
	</section>
	{{ .Content }}
</section>
{{ end }}
