#hero {
	padding: 1rem;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#title {
		font-size: 5rem;
		font-variant: small-caps;
	}

	#subtitle {
		font-size: 2rem;
	}
}

@media (max-width: 900px) {
	#hero {
		#title {
			font-size: 3rem;
		}

		#subtitle {
			font-size: 1rem;
		}
	}
}
