/* Homepage heading */
.home-heading {
	margin-block: 2rem 1rem;

	&:first-of-type {
		margin-block-start: 0;
	}
}

/* Homepage heading title */
.home-heading h1 {
	margin-block-end: 0.5rem;
	font-size: 2rem;
	font-weight: normal;

	/* Add a bullet point before the heading */
	&::before {
		content: "";
		width: 0.5em;
		height: 0.5em;
		margin-right: 0.4em;
		display: inline-block;
		border-radius: 50%;
	}
}

/* Homepage heading description */
.home-heading p {
	font-size: 1.5rem;
}

/* Rainbow homepage headings */
#contents h1::before {
	background-color: var(--haikei-red);
}

#projects h1::before {
	background-color: var(--haikei-orange);
}

#contact h1::before {
	background-color: var(--haikei-green);
}

#portfolio h1::before {
	background-color: var(--haikei-blue);
}
