.home-heading {
	margin-block: 2rem 1rem;

	&:first-of-type {
		margin-block-start: 0;
	}

	&:nth-of-type(4n+1) h1::before {
		background-color: var(--haikei-red);
	}

	&:nth-of-type(4n+2) h1::before {
		background-color: var(--haikei-orange);
	}

	&:nth-of-type(4n+3) h1::before {
		background-color: var(--haikei-green);
	}

	&:nth-of-type(4n+4) h1::before {
		background-color: var(--haikei-blue);
	}
}

.home-heading h1 {
	margin-block-end: 0.5rem;
	font-size: 2rem;
	font-weight: normal;

	/* Add a bullet point before the heading */
	&::before {
		content: "";
		width: 0.5em;
		height: 0.5em;
		margin-right: 1rem;
		display: inline-block;
		border-radius: 50%;
	}
}

.home-heading p {
	font-size: 1.5rem;
}
