/* Homepage content preview Feed */
.homefeed.contents {
	padding-block: 1rem;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	gap: 1.5rem;

	/* Feed item */
	.feeditem {
		--fwidth: 300px;
		--fsize: 10px;

		max-width: var(--fwidth);
		margin-right: var(--fsize);
		background: #FFF1;
		border-radius: 1rem;
		box-shadow: var(--fsize) var(--fsize) var(--haikei-red);

		/* item Thumbnail */
		& img {
			/* Responsive image size */
			width: var(--fwidth);
			height: auto;

			/* As a rounded block */
			display: block;
			border-radius: 1rem 1rem 0 0;
		}

		/* item Info */
		.info {
			padding: 1rem;
			color: inherit;
			display: block;
		}
	}
}

.homefeed.projects {
	display: grid;
	grid-template-areas: '';
}
