/* Navigation bar/rail */
nav {
	/* Rail shape */
	width: 6rem;
	height: 100vh;
	padding: 1rem;

	/* Fixed in place */
	position: fixed;
	top: 0;
	left: 0;

	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* Color */
	background-color: var(--haikei-yellow);

	/* Scale navbar links when hovered */
	& a:hover {
		scale: 1.2;
	}
}

/* Navigation bar menu */
#menu {
	margin: 0;
	padding: 0;
	gap: 1rem;
	display: flex;
	flex-direction: column;

	/* Menu items */
	& a {
		width: 4rem;
		height: 4rem;
		padding: 0.5rem;
		background-color: var(--haikei-black);
		border-radius: 50%;
	}

	/* Menu icons */
	& img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

/* Mobile mode */
@media (max-width: 600px) {
	/* Remove lent space for navbar */
	main {
		margin-left: 0;
	}

	/* Change to Bar shape */
	nav {
		width: 100%;
		height: auto;
		position: static;
	}

	/* Hide wordmark */
	#wordmark {
		display: none;
	}

	/* Horizontal menu */
	#menu {
		flex-direction: row;
	}
}
