{{ $currentPage := . }}
<nav class="s bottom">
	{{ range $i, $e := site.Menus.main }}
	<a class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}' href="{{ .URL }}" title="{{ .Name }}"
		aria-label="Go to {{ .Name }} page">
		<i>{{ .Params.symbol }}</i>
		<span>{{ .Name }}</span>
	</a>
	{{ end }}
</nav>

<nav class="m l left max center-align" id="navrail">
	<!-- <header>
		{{ $favicon := relURL "favicon.svg" }}
		<img src="{{ $favicon }}" alt="" width="96" height="96">
		<h2 class="small">Turito<br>Yuenan</h2>
	</header> -->
	{{ range site.Menus.main }}
	<a class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}' href="{{ .URL }}" title="{{ .Name }}"
		aria-label="Go to {{ .Name }} page">
		<i>{{ .Params.symbol }}</i>
		<span>{{ .Name }}</span>
	</a>
	{{ end }}
</nav>
