{{ $currentPage := . }}
<nav aria-label="Bottom Navigation Bar" class="s bottom">
	{{ range $i, $e := site.Menus.main }}
	<a class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}' href="{{ .URL }}" title="{{ .Name }}"
		aria-label="Go to {{ .Name }} page">
		<i>{{ .Params.symbol }}</i>
		<span>{{ .Name }}</span>
	</a>
	{{ end }}
</nav>

<nav aria-label="Side Navigation Bar" class="m l left max center-align" id="navrail">
	{{ range site.Menus.main }}
	<a class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}' href="{{ .URL }}" title="{{ .Name }}"
		aria-label="Go to {{ .Name }} page">
		<i>{{ .Params.symbol }}</i>
		<span>{{ .Name }}</span>
	</a>
	{{ end }}
</nav>
