{{define "head"}}
{{ $hero := resources.Get "styles/hero.css" }}
{{ $headings := resources.Get "styles/home-heading.css" }}
{{ $homepageStyle := slice $hero $headings | resources.Concat "homepage.css" | minify }}

<link rel="stylesheet" href="{{ $homepageStyle.Permalink }}">

{{ $feed := resources.Get "styles/home-feed.css" | minify }}

<link rel="stylesheet" href="{{ $feed.Permalink }}">
{{end}}

{{define "main"}}
<header id="hero">
	<div><img src="/favicon.svg" alt="" width="256" height="256"></div>
	<div>
		<h1 id="title">{{ .Site.Title }}</h1>
		<p id="subtitle">{{ .Page.Description }}</p>
	</div>
</header>
<article>
	{{.Content}}
	<div class="home-heading" id="contents">
		<h1>Contents</h1>
		<p>Articles, Blog posts, Announcements</p>
	</div>
	{{partial "feed" .}}
	<div class="home-heading" id="projects">
		<h1>Projects showcase</h1>
		<p>Showcase of my projects & products</p>
	</div>
	<div class="home-heading" id="contact">
		<h1>Contact with me</h1>
		<p>My available social accounts</p>
	</div>
	<div class="home-heading" id="portfolio">
		<h1>My Portfolio</h1>
		<p>Check out my progress, knowledge, experience</p>
	</div>
</article>
{{end}}
