{{define "head"}}
{{ $hero := resources.Get "styles/hero.css" }}
{{ $feed := resources.Get "styles/home-feed.css" | minify }}

<link rel="stylesheet" href="{{ $hero.RelPermalink }}">
<link rel="stylesheet" href="{{ $feed.RelPermalink }}">
{{end}}

{{define "main"}}
<header id="hero">
	<div><img src="/favicon.svg" alt="" width="256" height="256"></div>
	<div>
		<h1 id="title">{{ .Site.Title }}</h1>
		<p id="subtitle">{{ .Page.Description }}</p>
	</div>
</header>
<article>
	{{.Content}}
	<h1>Contents</h1>
	<p>Articles, Blog posts, Announcements</p>
	<section class="homefeed contents">
		{{ range (where .Site.Pages "Section" "contents") }}
		{{ range .Pages }}
		<div class="feeditem">
			<img src="{{.Page.Params.thumbnail}}" alt="Thumbnail for '{{.Page.Title}}'" width="1024" height="768" />
			<a class="info" href="{{ .RelPermalink }}">
				<h2>{{ .Title }}</h2>
				<p>{{.Description}}</p>
			</a>
		</div>
		{{ end }}
		{{ end }}
	</section>
	<h1>Projects showcase</h1>
	<p>Showcase of my projects & products</p>
	<section class="homefeed projects">
		{{ range (where .Site.Pages "Section" "projects") }}
		{{ range .Pages }}
		<div class="feeditem">
			<img src="{{.Page.Params.thumbnail}}" alt="Thumbnail for '{{.Page.Title}}'" width="1024" height="768" />
			<a class="info" href="{{ .RelPermalink }}">
				<h2>{{ .Title }}</h2>
				<p>{{.Description}}</p>
			</a>
		</div>
		{{ end }}
		{{ end }}
	</section>
	<h1>Contact with me</h1>
	<p>My available social profiles</p>
	<h1>My Portfolio</h1>
	<p>About me, my progress, roles and experience</p>
</article>
{{end}}
