{{define "head"}}
{{ $heroStyle := resources.Get "styles/hero.css" }}
{{ $homeheadingStyle := resources.Get "styles/home-heading.css" }}

<link rel="stylesheet" href="{{ $heroStyle.Permalink }}">
<link rel="stylesheet" href="{{ $homeheadingStyle.Permalink }}">
{{end}}

{{define "main"}}
<header id="hero">
	<div><img src="/favicon.svg" alt="" width="256" height="256"></div>
	<div>
		<h1 id="title">{{ .Site.Title }}</h1>
		<p id="subtitle">{{ .Page.Description }}</p>
	</div>
</header>
<article>
	{{.Content}}
</article>
{{end}}
