:root {
	--ctpmac-rosewater: #f4dbd6;
	--ctpmac-flamingo: #f0c6c6;
	--ctpmac-pink: #f5bde6;
	--ctpmac-mauve: #c6a0f6;
	--ctpmac-red: #ed8796;
	--ctpmac-maroon: #ee99a0;
	--ctpmac-peach: #f5a97f;
	--ctpmac-yellow: #eed49f;
	--ctpmac-green: #a6da95;
	--ctpmac-teal: #8bd5ca;
	--ctpmac-sky: #91d7e3;
	--ctpmac-sapphire: #7dc4e4;
	--ctpmac-blue: #8aadf4;
	--ctpmac-lavender: #b7bdf8;
	--ctpmac-text: #cad3f5;
	--ctpmac-subtext1: #b8c0e0;
	--ctpmac-subtext0: #a5adcb;
	--ctpmac-overlay2: #939ab7;
	--ctpmac-overlay1: #8087a2;
	--ctpmac-overlay0: #6e738d;
	--ctpmac-surface2: #5b6078;
	--ctpmac-surface1: #494d64;
	--ctpmac-surface0: #363a4f;
	--ctpmac-base: #24273a;
	--ctpmac-mantle: #1e2030;
	--ctpmac-crust: #181926;
}
