nav {
	padding: 1rem;
	background: var(--ctp-macchiato-mantle);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

nav img {
	width: auto;
	height: 3em;
	border-radius: 0.5em;
}

nav img:hover {
	filter: drop-shadow(0 0 5px var(--ctp-macchiato-peach));
}

#nav__menu {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
}

#nav__menu a {
	--lw: 3pt; --ls: solid transparent;
	padding: calc(0.5rem - var(--lw)) 0.5rem;
	border-top: var(--lw) var(--ls);
	border-bottom: var(--lw) var(--ls);
	text-decoration: none;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nav__menu a:hover {
	background: var(--ctp-macchiato-surface0);
}

#nav__menu a:hover,
#nav__menu a.active {
	border-bottom-color: currentColor;
}

@media (max-width: 700px) {
	nav {
		flex-direction: column;
		gap: 0.5rem;
	}

	#nav__menu {
		place-content: space-around;
	}
}