@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url(catppuccin.css);

/* BLOCKS */

body {
	margin: 0;
	background: var(--ctp-macchiato-base);
	color: var(--ctp-macchiato-text);
	font: normal x-large Verdana, sans-serif;
}

main {
	width: 1280px;
	min-height: 50vh;
	margin: auto;
	padding: 1em;
}

footer {
	padding: 1em;
	background: var(--ctp-macchiato-surface0);
}

header {
	padding: 1em;
	background: var(--ctp-macchiato-text);
	color: var(--ctp-macchiato-base);
	border-radius: 0 0 50% 50%;
}

header .icon {
	height: 5em;
	border-radius: 25%;
}

header .title {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

header .title h1 {
	font-size: 2.5em;
}

blockquote {
	margin: 1em 0;	padding: 1em;
	background: var(--ctp-macchiato-surface0);
}

nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1em;
	text-align: center;
}

nav a {
	padding: 1em;
	background: var(--ctp-macchiato-base);
}

nav a:hover {
	color: var(--ctp-macchiato-base);
}

#articles:hover {background: var(--ctp-macchiato-red);}
#works:hover    {background: var(--ctp-macchiato-peach);}
#knabino:hover  {background: var(--ctp-macchiato-teal);}
#anims:hover    {background: var(--ctp-macchiato-blue);}
#revealjs:hover {background: var(--ctp-macchiato-mauve);}

.list a {
	margin: 1em 0;
	display: block;
}

.list a::after {
	content: "";
	clear: both;
	display: table;
}

.list img {
	max-width: 250px;
	width: 100%;
	height: auto;
	margin-right: 1em;
	float: left;
}

.page__thumb img {
	margin: .5em 0;
}

nav a, .list img, .page__thumb img, blockquote {
	border-radius: 1em;
}

.wave {
	display: block;
}

.wave path {
	fill: var(--ctp-macchiato-surface0);
}

/* TEXTS */

h1, h2, h3, h4, h5, h6, p {
	margin: .5em 0;
}

a {
	color: var(--ctp-macchiato-peach);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav a, .list a, .social a, header .title {
	color: inherit;
}

::selection {
	background-color: var(--ctp-macchiato-text);
	color: var(--ctp-macchiato-base);
}

/* RESPONSIVE-NESS */

@media (max-width: 1280px) {
	main {width: auto;}
}

@media (max-width: 600px) {
	header {
		border-radius: 0;
	}

	header .title {
		text-align: center;
		flex-direction: column;
		gap: 0;
	}

	.list a {
		text-align: center;
	}

	.list img {
		margin: auto;
		float: none;
		display: block;
	}
}