/* BLOCKS */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--ctpmac-base);
	color: var(--ctpmac-text);
	font: normal x-large 'Trebuchet MS', sans-serif;
}

main, header, footer {
	padding: 1rem;
}

main {
	width: 1280px;
	min-height: 50vh;
	margin: auto;
}

footer {
	background: var(--ctpmac-surface0);
}

header {
	background: var(--ctpmac-text);
	color: var(--ctpmac-base);
	border-radius: 0 0 50% 50%;
}

header .icon {
	height: 5em;
	border-radius: 25%;
}

header .title {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
}

header .title h1 {
	font-size: 2.5em;
}

blockquote {
	margin: 1em 0; padding: .5em 1em;
	background: var(--ctpmac-surface0);
}

nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1em;
	text-align: center;
}

nav a {
	padding: 1em;
	background: var(--ctpmac-base);
}

nav a:hover {
	color: var(--ctpmac-base);
}

nav a:nth-child(1):hover {background: var(--ctpmac-red) !important;}
nav a:nth-child(2):hover {background: var(--ctpmac-peach) !important;}
nav a:nth-child(3):hover {background: var(--ctpmac-teal) !important;}
nav a:nth-child(4):hover {background: var(--ctpmac-blue) !important;}
nav a:nth-child(5):hover {background: var(--ctpmac-mauve) !important;}

#list a {
	margin: 1em 0;
	display: block;
}

#list a::after {
	content: "";
	clear: both;
	display: table;
}

#list img {
	max-width: 250px;
	width: 100%;
	height: auto;
	margin-right: 1em;
	float: left;
}

.page__thumb img {
	margin: .5em 0;
}

nav a, #list img, .page__thumb img, blockquote {
	border-radius: 1em;
}

#wave {
	display: block;
}

#wave path {
	fill: var(--ctpmac-surface0);
}

#sign404 {
	text-align: center;
}

#front-page-grid {
	padding: 1em;
	display: grid; gap: 1em;
	grid-template-columns: repeat(2, auto);
	text-align: center;
}

#front-page-grid a {
	padding: 1em;
	background: var(--ctpmac-surface0);
	border-radius: 1em;
}
