/* BLOCKS */

:root {
	background: var(--ctp-macchiato-base);
	color: var(--ctp-macchiato-text);
	font: normal large 'Work Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	min-height: 77vh;
}

footer {
	padding: 1rem;
	background: var(--ctp-macchiato-mantle);
	text-align: center;
}

article {
	width: clamp(45ch, 100%, 75ch);
	margin: auto;
	padding: 1rem;
	line-height: 1.4;
}

blockquote {
	margin: 1rem 0;
	padding: 0.5rem 1em;
	background: var(--ctp-macchiato-surface0);
}

hr {
	margin-top: 1rem;
	border: 2pt solid var(--ctp-macchiato-text);
}

/* RESPONSIVE DESIGN */

@media (max-width: 90ch) {
	article {
		width: auto;
	}
}
