/* TEXTS */

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: .5rem 0;
}

h1 {
	font-variant: small-caps;
	font-size: 3em;
}

a {
	color: var(--ctp-macchiato-peach);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

::selection {
	background-color: var(--ctp-macchiato-text);
	color: var(--ctp-macchiato-base);
}
