/* TEXTS */

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: .5rem 0;
}

h1, h2, h3 {
	font-variant: small-caps;
}

a {
	color: var(--ctpmac-peach);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

nav a, #list a, .social a, header .title {
	color: inherit;
}

::selection {
	background-color: var(--ctpmac-text);
	color: var(--ctpmac-base);
}
